@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: "Raleway" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('./shared/img/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

code {
  font-family: 'Courier New' monospace !important;
}
